@font-face {
    font-family: 'dana';
    src: url(../font/dana-bold.woff);
}
@font-face {
    font-family: 'dana-light';
    src: url(../font/dana-light.woff);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'dana';
    background: #FFF8E1;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 50px;

}

.section_inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    color: #9b5800;
    font-size: 40px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    
}

.input, .submit {
    margin: 10px;
    padding: 10px 15px;
    width: 800px;
    font-size: 20px;
    font-family: inherit;
    border: 1px solid #FFF8E1;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    color: #9b5800;
}

.input::placeholder {
    color: #9b5800;
    opacity: 0.7;
}

.input:focus {
    border: 1px solid #9b5800;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
}

.submit {
    background: #9b5800;
    color: #fff;
    border: none;
}

.submit:hover {
    cursor: pointer;
    background: #754200;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.section_books {
    display: flex;
    justify-content: center;
}

.table {
    text-align: center;
    border-collapse: collapse;
    width: 800px;
    margin-top: 50px;
}

th {
    background: #9b5800;
    color: #fff;
    height: 50px;

}

tr {
    background: #9b58001c; 
    color: #9b5800;
    height: 50px;
}

tr:nth-child(odd){
    background: #9b58002d; 

}

.tbr {
    cursor: pointer;
}